body {
    font-family: monospace;
    display: flex;
    justify-content: center;
    color: gray;
}

#base {
    background-color: coral;
    height: 550px;
    width: 400px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 7%;
}

#display {
    background-color: beige;
    display: inline-block;
    margin: 30px 30px 0px;
    padding: 0px 20px;
    text-align: right;
    border-radius: 7px;
    width: 75%;
}

p {
    text-align: left;
}

#keypad {
    display: grid;
    grid-template-columns: 75px 75px 75px 60px;
    height: 350px;
    align-content: space-between;
    justify-content: space-between;
    margin: 30px;
}

.number, .operation, .operator, .function {
    background-color: lightgray;
    text-align: center;
    display: inline-block;
    height: 60px;
    border-radius: 7px;
    align-content: center;
}
 
.operator {
    border-radius: 3em;
    background-color: beige;
    color: coral;
}

#enter {
    grid-column: 2 / 4;
}
